/*******************
    reset css
****************/
a:hover,a:focus{
    text-decoration: none;
}

#logo-section{
    padding: 20px 0;
}

#logo-section img{
    height: 110px;
}
#logo-section .social-icon{
    float: right;
    background-color: #28512e;
    border-radius: 50%;
    margin: 5px;
    height: 40px;
    width: 40px;
    margin-top: 50px;
}
#logo-section .social-icon span{
    padding: 10px 0 0 8px;
    color: #fff;
    font-size: 20px;
}
.social-icon .fa-facebook:before{
    padding-left: 6px;
}
.social-icon .fa-twitter:before{
    padding-left: 4px;
}
.social-icon .fa-dribbble:before{
    padding-left: 4px;
}
.nav__primary {
    position:relative;
    float:none;
    padding:0;
    margin:8px 0 0 0;
    z-index:100;
    background:none;
}
.nav__primary:before {
    content:"";
    width:100%;
    height:4px;
    background:#fff;
    display:block;
    pointer-events:none;
    position:absolute;
}
@media (max-width: 767px) {
    .nav__primary:before { display:none !important; }
}
.nav__primary .select-menu { height:35px; }
.sf-menu {
    float:none;
    display:block;
    position:relative;
    padding:0;
    z-index:1;
}
@media (max-width: 767px) {
    .sf-menu { display:none !important; }
}
.sf-menu >li {
    font-family: 'Oleo Script', cursive;
    background:none;
    float:left;
    text-align:center;
    display:block;
    position:relative;
    padding:0;
    margin:0;
    width:160px;
    border:none;
    border-left:1px solid #e3effb;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    transition:all 0.3s ease 0s;
    z-index:10;
}
@media (min-width: 979px) and (max-width: 1200px) {
    .sf-menu >li { width:160px; }
}
@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu >li { width:140px; }
}
.sf-menu >li:first-child {
    margin:0;
    border:none;
}
.sf-menu >li:last-child,  .sf-menu >li.fifth { border-right:1px solid #e3effb; }
.sf-menu >li:before {
    content:"";
    width:100%;
    height:4px;
    background:#848484;
    display:block;
    pointer-events:none;
    margin-bottom:30px;
}
.sf-menu >li:after {
    content:"";
    width:0px;
    height:0px;
    border-style:solid;
    border-width:4px 3.5px 0 3.5px;
    border-color:#848484 transparent transparent transparent;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-2px;
    transition:all 0.3s ease 0s;
}
.sf-menu >li.first:before { background:#fff; }
.sf-menu >li.first:after { border-color:#fff transparent transparent transparent; }
.sf-menu >li.first.current-menu-item a,  .sf-menu >li.first.sfHover a,  .sf-menu >li.first:hover a { color:#1376d1; }
.sf-menu >li.first.current-menu-item:after,  .sf-menu >li.first.sfHover:after,  .sf-menu >li.first:hover:after { border-color:#1376d1 transparent transparent transparent; }
.sf-menu >li.first.current-menu-item:before,  .sf-menu >li.first.sfHover:before,  .sf-menu >li.first:hover:before { background:#1376d1; }
.sf-menu >li.second:before { background:#fff; }
.sf-menu >li.second:after { border-color:#fff transparent transparent transparent; }
.sf-menu >li.second.current-menu-item a,  .sf-menu >li.second.sfHover a,  .sf-menu >li.second:hover a { color:#1376d1; }
.sf-menu >li.second.current-menu-item:after,  .sf-menu >li.second.sfHover:after,  .sf-menu >li.second:hover:after { border-color:#1376d1 transparent transparent transparent; }
.sf-menu >li.second.current-menu-item:before,  .sf-menu >li.second.sfHover:before,  .sf-menu >li.second:hover:before { background:#1376d1; }
.sf-menu >li.third:before { background:#fff; }
.sf-menu >li.third:after { border-color:#fff transparent transparent transparent; }
.sf-menu >li.third.current-menu-item a,  .sf-menu >li.third.sfHover a,  .sf-menu >li.third:hover a { color:#1376d1; }
.sf-menu >li.third.current-menu-item:after,  .sf-menu >li.third.sfHover:after,  .sf-menu >li.third:hover:after { border-color:#1376d1 transparent transparent transparent; }
.sf-menu >li.third.current-menu-item:before,  .sf-menu >li.third.sfHover:before,  .sf-menu >li.third:hover:before { background:#1376d1; }
.sf-menu >li.fourth:before { background:#fff; }
.sf-menu >li.fourth:after { border-color:#fff transparent transparent transparent; }
.sf-menu >li.fourth.current-menu-item a,  .sf-menu >li.fourth.sfHover a,  .sf-menu >li.fourth:hover a { color:#1376d1; }
.sf-menu >li.fourth.current-menu-item:after,  .sf-menu >li.fourth.sfHover:after,  .sf-menu >li.fourth:hover:after { border-color:#1376d1 transparent transparent transparent; }
.sf-menu >li.fourth.current-menu-item:before,  .sf-menu >li.fourth.sfHover:before,  .sf-menu >li.fourth:hover:before { background:#1376d1; }
.sf-menu >li.fifth:before { background:#fff; }
.sf-menu >li.fifth:after { border-color:#fff transparent transparent transparent; }
.sf-menu >li.fifth.current-menu-item a,  .sf-menu >li.fifth.sfHover a,  .sf-menu >li.fifth:hover a { color:#1376d1; }
.sf-menu >li.fifth.current-menu-item:after,  .sf-menu >li.fifth.sfHover:after,  .sf-menu >li.fifth:hover:after { border-color:#1376d1 transparent transparent transparent; }
.sf-menu >li.fifth.current-menu-item:before,  .sf-menu >li.fifth.sfHover:before,  .sf-menu >li.fifth:hover:before { background:#1376d1; }
.sf-menu >li:hover ul { top:100%; }
.sf-menu >li:hover li ul { top:-999em; }
.sf-menu >li:hover:after { top:4px; }
.sf-menu >li >a {
    border:none;
    padding:0;
    display:inline-block;
    text-transform:lowercase;
    border-radius:0;
    position:relative;
    letter-spacing:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    transition:all 0.3s ease 0s;
    background:none;
}
.sf-menu >li >a:hover {
    text-decoration:none;
    color:#1d1d1d;
    background:none;
}
.sf-menu >li >a:hover .sf-sub-indicator { background-position:-10px -100px; }
.sf-menu >li >a >.sf-sub-indicator {
    position:absolute;
    display:inline-block;
    top:30px;
    left:50%;
    margin-left:-5px;
    background:url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.sf-menu >li.current-menu-item:after { top:4px; }
.sf-menu >li.current-menu-item >a {
    text-decoration:none;
    color:#1d1d1d;
    background:none;
}
.sf-menu >li.current-menu-item >a .sf-sub-indicator { background-position:-10px -100px; }
.sf-menu >li.sfHover:after { top:4px; }
.sf-menu >li.sfHover >a {
    text-decoration:none;
    color:#1d1d1d;
    background:none;
}
.sf-menu >li.sfHover >a .sf-sub-indicator { background-position:-10px -100px; }
.sf-menu >li.sfHover ul { top:100%; }
.sf-menu >li.sfHover li ul { top:-999em; }
footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}
footer a{
    color: #fa233b;
}