#about .about-title{
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}
#about .about-title img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px 0;
}
#image-slider img{
    width: 100%;
}
#welcome .welcome-title{
    border-right: 1px solid #e3e3e3;
    padding: 0 30px;
}
#welcome h2{
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    margin-bottom: 30px;
}
#welcome .welcome-title img{
    height: 200px;
    width: 100%;
    
}
#welcome .welcome-title p{
    margin-top: 20px;
    text-align: justify;
    font-size: 11px;
}
#welcome .recent-events{
    border-right: 1px solid #e5e5e5;
    padding: 0 30px;
}
#welcome .recent-events span{
    font-weight: bold;
}
#welcome .recent-events p{
    padding-bottom: 20px;
    border-bottom: 1px dotted #000;
}
#welcome .advantage-item img{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
}
#welcome .advantage-item .section-right h4,#welcome .advantage-item .section-right p{
    float: right;
}
