#about{
    margin-top: 50px;
}
#about h3{
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}
#about h4,h1{
    font-family: 'Oleo Script', cursive;
}
#about img{
    max-width: 100%;
    margin: 20px 0;
}
#image-slider img{
    width: 100%;
}

/************************
welcome content section
*******************************/
#welcome .welcome-title{
    border-right: 1px solid #e3e3e3;
    padding: 0 30px;
}
#welcome h2{
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    margin-bottom: 30px;
}
#welcome .welcome-title img{
    height: 200px;
    width: 100%;
    
}
#welcome .welcome-title p{
    margin-top: 20px;
    text-align: justify;
    font-size: 12px;
}
#welcome .recent-events{
    border-right: 1px solid #e5e5e5;
    padding: 0 30px;
}
#welcome .recent-events span{
    font-weight: bold;
}
#welcome .recent-events p{
    padding-bottom: 20px;
    border-bottom: 1px dotted #000;
}
#welcome .advantage-item{
    float: left;
    margin-right: 20px;
}
#welcome .advantage-item img{
     height: 100px;
    width: 100px;
}
#welcome .advantage-item .section-right{
    float: right;
}
.section-right p,.recent-events p{
    font-size: 13px;
    text-align: justify;
}
.fnt11{
    padding-left: 10px;
    font-size: 11px;
}
#sales{
    background-color: #FFEBEE;
}
#alliances{
    background-color: #E1BEE7;
}
#branding{
    background-color: #E8EAF6;
}
#traders{
    background-color: #B3E5FC;
}
#industries{
    background-color: #E8F5E9;
}